html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: #000;
    height: 100%;

    background-repeat:  no-repeat;
    background-size: cover;
    background-image: url('./bg.jpg');
}